<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/style.css">
    <title> <%= title %> </title>
</head>
<body>

    <nav class="flex justify-around items-center bg-red-500 py-3 h-[55px] fixed w-full top-0">
        <div class="flex">
            <a href="/" class="text-white font-medium"> Yudha </a>
        </div>
        <div class="flex gap-4">
            <a href="/" class="text-white hover:font-medium">Home</a>
            <a href="/" class="text-white hover:font-medium">About</a>
            <a href="/" class="text-white hover:font-medium">Projects</a>
            <a href="/" class="text-white hover:font-medium">GitHub</a>
            <a href="/" class="text-white hover:font-medium">Linkedin</a>
        </div>
    </nav>