<%- include('layouts/header') %>


<div class="w-full min-h-screen bg-indigo-500 flex flex-col justify-center items-center">
    <h1 class="text-white text-4xl mb-2">Yudha Ginong Pratidina</h1>
    <h2 class="text-white text-2xl mb-4">Im a Web Developer</h2>
    <div>
        <a href="" class="border border-white py-2 px-3 w-[100px] text-white">Hire Me</a>
        <a href="" class="border border-white py-2 px-3 w-[100px] text-white">Curriculum Vitae</a>
    </div>
</div>


<section id="About" class="py-5 flex flex-col gap-3 justify-center items-center">
    <div class="w-full max-w-3xl h-[250px] flex flex-col justify-center items-center">
        <h1 class="text-3xl text-center mb-3 uppercase">About Me</h1>
        <p class="text-center">
            Saya adalah mahasiswa Teknologi Informasi di Universitas Islam Balitar (UNISBA) yang bersemangat 
            dan berkomitmen untuk mengembangkan pengetahuan dan keterampilan di bidang IT. Saya telah mengambil 
            berbagai kursus yang melibatkan pemrograman, pengembangan aplikasi web, dan manajemen proyek.
        </p>
    </div>
</section>

<section id="Projects" class="py-5 flex flex-col gap-3 justify-center items-center bg-indigo-500">
    <h1 class="text-3xl text-center mb-3 text-white uppercase">Projects</h1>
    <div class="flex justify-center gap-3 flex-wrap">
        <div class="w-[420px] h-[350px] bg-white rounded">
            <div class="w-full h-[250px] bg-[url('https://source.unsplash.com/random')]"></div>
            <h1 class="text-center py-3 text-2xl">Project Name</h1>
            <div class="flex justify-center gap-4 w-full">
                <a href="/" class="bg-red-500 hover:bg-transparent px-3 py-1 hover:border hover:border-red-500 rounded text-white hover:text-red-500">View Demo</a>
                <a href="/" class="bg-indigo-500 hover:bg-transparent px-3 py-1 hover:border hover:border-indigo-500 rounded text-white hover:text-indigo-500">Source Code</a>
            </div>
        </div>
        <div class="w-[420px] h-[350px] bg-white rounded">
            <div class="w-full h-[250px] bg-[url('https://source.unsplash.com/random')]"></div>
            <h1 class="text-center py-3 text-2xl">Project Name</h1>
            <div class="flex justify-center gap-4 w-full">
                <a href="/" class="bg-red-500 hover:bg-transparent px-3 py-1 hover:border hover:border-red-500 rounded text-white hover:text-red-500">View Demo</a>
                <a href="/" class="bg-indigo-500 hover:bg-transparent px-3 py-1 hover:border hover:border-indigo-500 rounded text-white hover:text-indigo-500">Source Code</a>
            </div>
        </div>
        <div class="w-[420px] h-[350px] bg-white rounded">
            <div class="w-full h-[250px] bg-[url('https://source.unsplash.com/random')]"></div>
            <h1 class="text-center py-3 text-2xl">Project Name</h1>
            <div class="flex justify-center gap-4 w-full">
                <a href="/" class="bg-red-500 hover:bg-transparent px-3 py-1 hover:border hover:border-red-500 rounded text-white hover:text-red-500">View Demo</a>
                <a href="/" class="bg-indigo-500 hover:bg-transparent px-3 py-1 hover:border hover:border-indigo-500 rounded text-white hover:text-indigo-500">Source Code</a>
            </div>
        </div>
    </div>
</section>

<section id="Certification" class="py-5 flex flex-col gap-3 justify-center items-center">
    <h1 class="text-3xl text-center mb-3  uppercase">Certification</h1>
    <div class="flex justify-center gap-3 flex-wrap">
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
        <div class="w-[420px] h-[200px] bg-red-500 rounded"></div>
    </div>
</section>

<section id="Contact" class="py-5 px-3 flex flex-col gap-3 justify-center items-center bg-indigo-500">
    <h1 class="text-3xl text-center mb-3 uppercase text-white">Contact Me</h1>
    <div class="w-full max-w-3xl  py-3 px-2">
        <form action="" class="flex flex-col gap-3">
            <input type="text" id="name" placeholder="Your Name" class="w-full py-2 px-4 border border-white bg-transparent outline-none rounded text-white placeholder:text-white">
            <input type="email" id="email" placeholder="Your Email" class="w-full py-2 px-4 border border-white bg-transparent outline-none rounded text-white placeholder:text-white">
            <textarea name="message" id="message" cols="30" rows="5" class="w-full py-2 px-4 border border-white bg-transparent outline-none rounded text-white placeholder:text-white"></textarea>
            <button type="submit" id="submit" class="w-full bg-red-500 hover:bg-transparent px-3 py-1 hover:border hover:border-red-500 rounded text-white">Send</button>
        </form>
    </div>
</section>

<%- include('layouts/footer') %>